src/main/resources/wsdl/asset.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><xs:schema xmlns:tns="http://webservice.springboot2react.project.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.springboot2react.project.com/">

<xs:element name="createOrUpdateAsset" type="tns:createOrUpdateAsset"/>

<xs:element name="createOrUpdateAssetResponse" type="tns:createOrUpdateAssetResponse"/>

<xs:element name="getAssetById" type="tns:getAssetById"/>

<xs:element name="getAssetByIdResponse" type="tns:getAssetByIdResponse"/>

<xs:complexType name="createOrUpdateAsset">
<xs:sequence>
<xs:element name="arg0" type="tns:asset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asset">
<xs:sequence>
<xs:element name="annualBudget" type="xs:decimal" minOccurs="0"/>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetCriticality" type="tns:assetCriticality" minOccurs="0"/>
<xs:element name="assetDepartment" type="tns:department" minOccurs="0"/>
<xs:element name="assetFamily" type="tns:assetFamily" minOccurs="0"/>
<xs:element name="assetHotelLevel" type="tns:assetHotelLevel" minOccurs="0"/>
<xs:element name="assetId" type="xs:int" minOccurs="0"/>
<xs:element name="assetLocation" type="tns:assetLocation" minOccurs="0"/>
<xs:element name="assetManufacturer" type="tns:assetManufacturer" minOccurs="0"/>
<xs:element name="assetStatus" type="tns:assetStatus" minOccurs="0"/>
<xs:element name="assetSupplier" type="tns:supplier" minOccurs="0"/>
<xs:element name="assetSupplierCustomer" type="tns:supplier" minOccurs="0"/>
<xs:element name="assetType" type="tns:assetType" minOccurs="0"/>
<xs:element name="barcode" type="tns:barcode" minOccurs="0"/>
<xs:element name="calibratedBy" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="costCentre" type="tns:costCentre" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="downtimeCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="lastMeasuredReading" type="xs:int" minOccurs="0"/>
<xs:element name="lastModified" type="tns:dateTime" minOccurs="0"/>
<xs:element name="leftRight" type="xs:string" minOccurs="0"/>
<xs:element name="logo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="manufacturersReference" type="xs:string" minOccurs="0"/>
<xs:element name="measureds" type="tns:measured" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="normalOperatingHours" type="xs:decimal" minOccurs="0"/>
<xs:element name="permissibleError" type="xs:string" minOccurs="0"/>
<xs:element name="picture" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="productionDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="purchaseCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="purchaseDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="range" type="xs:string" minOccurs="0"/>
<xs:element name="removeReportLogo" type="xs:boolean" minOccurs="0"/>
<xs:element name="resolution" type="xs:string" minOccurs="0"/>
<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
<xs:element name="standard" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="technicalComments" type="xs:string" minOccurs="0"/>
<xs:element name="tolerance" type="xs:string" minOccurs="0"/>
<xs:element name="warrantyExpiry" type="tns:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetCriticality">
<xs:sequence>
<xs:element name="assetCriticalityId" type="xs:int" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="critLevel" type="xs:int" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="company">
<xs:sequence>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetCode" type="xs:string" minOccurs="0"/>
<xs:element name="assetTrees" type="tns:assetTree" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assets" type="tns:asset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="child" type="tns:company" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="companyId" type="xs:int" minOccurs="0"/>
<xs:element name="companyParent" type="tns:company" minOccurs="0"/>
<xs:element name="defaultCompany" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfConcurrentUsers" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfData" type="xs:int" minOccurs="0"/>
<xs:element name="profiles" type="tns:profile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="systemParameters" type="tns:systemParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="trial" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetTree">
<xs:sequence>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="asset" type="tns:asset" minOccurs="0"/>
<xs:element name="assetFamilyIdIcon" type="xs:int" minOccurs="0"/>
<xs:element name="assetId" type="xs:int" minOccurs="0"/>
<xs:element name="assetTreeId" type="xs:int" minOccurs="0"/>
<xs:element name="children" type="tns:assetTree" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="existAssetChildren" type="xs:boolean"/>
<xs:element name="newParentId" type="xs:int" minOccurs="0"/>
<xs:element name="newTreeTypeId" type="xs:int" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="parentId" type="xs:int" minOccurs="0"/>
<xs:element name="treeType" type="tns:assetTreeType" minOccurs="0"/>
<xs:element name="treeTypeId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetTreeType">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="treeTypeId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profile">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="edit" type="xs:boolean"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="listPermissions" type="tns:permission" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="permission">
<xs:sequence>
<xs:element name="authority" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="systemParameter">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="systemParameterId" type="xs:int" minOccurs="0"/>
<xs:element name="updateData" type="xs:boolean" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="assets" type="tns:asset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="departmentId" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="individuals" type="tns:individual" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="trainingCourse" type="xs:boolean" minOccurs="0"/>
<xs:element name="trainingCourseDepartments" type="tns:trainingCourseDepartment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="individual">
<xs:complexContent>
<xs:extension base="tns:userSuper">
<xs:sequence>
<xs:element name="calibration" type="xs:boolean" minOccurs="0"/>
<xs:element name="department" type="tns:department" minOccurs="0"/>
<xs:element name="departmentOperator" type="xs:boolean" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="profile" type="tns:profile" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="trainingCourse" type="xs:boolean" minOccurs="0"/>
<xs:element name="trainingCourseOperator" type="tns:trainingCourseOperator" minOccurs="0"/>
<xs:element name="trainingCourseOperators" type="tns:trainingCourseOperator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="trainingCoursesByGenerateWorkOrder" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workOrders" type="tns:workOrder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userSuper">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="edit" type="xs:boolean"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="individual" type="xs:boolean" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="photograph" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="postCode" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateTime" final="extension restriction">
<xs:complexContent>
<xs:extension base="tns:baseDateTime">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseDateTime" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractDateTime">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractDateTime" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractInstant">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractInstant" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="trainingCourseOperator">
<xs:sequence>
<xs:element name="generateWorkOrder" type="xs:boolean" minOccurs="0"/>
<xs:element name="operator" type="tns:individual" minOccurs="0"/>
<xs:element name="operatorHasTraining" type="xs:boolean" minOccurs="0"/>
<xs:element name="revisionName" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="trainingCourse" type="tns:trainingCourse" minOccurs="0"/>
<xs:element name="trainingCourseOperatorID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainingCourse">
<xs:sequence>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="createDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="expiryDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="mandatoryDepartmentCourse" type="xs:boolean" minOccurs="0"/>
<xs:element name="revisions" type="tns:revision" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="trainingCourseConstants" type="tns:trainingCourseConstants" minOccurs="0"/>
<xs:element name="trainingCourseDepartments" type="tns:trainingCourseDepartment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="trainingCourseId" type="xs:int" minOccurs="0"/>
<xs:element name="trainingCourseOperators" type="tns:trainingCourseOperator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="typeTraining" type="xs:boolean" minOccurs="0"/>
<xs:element name="validYear" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revision">
<xs:sequence>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="revisionID" type="xs:int" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="trainingCourse" type="tns:trainingCourse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainingCourseDepartment">
<xs:sequence>
<xs:element name="department" type="tns:department" minOccurs="0"/>
<xs:element name="operatorHasTraining" type="xs:boolean" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="trainingCourse" type="tns:trainingCourse" minOccurs="0"/>
<xs:element name="trainingCoursedepartmentID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workOrder">
<xs:sequence>
<xs:element name="actualEnd" type="tns:dateTime" minOccurs="0"/>
<xs:element name="actualStart" type="tns:dateTime" minOccurs="0"/>
<xs:element name="answers" type="tns:answer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetDowntime" type="xs:float" minOccurs="0"/>
<xs:element name="assetDowntimeCost" type="xs:float" minOccurs="0"/>
<xs:element name="assetId" type="xs:int" minOccurs="0"/>
<xs:element name="assetScreenHotel" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetStopRequired" type="xs:boolean" minOccurs="0"/>
<xs:element name="barcode" type="tns:barcode" minOccurs="0"/>
<xs:element name="breakdownEnd" type="tns:dateTime" minOccurs="0"/>
<xs:element name="breakdownStart" type="tns:dateTime" minOccurs="0"/>
<xs:element name="businessMessage" type="xs:string" minOccurs="0"/>
<xs:element name="canvasSupervisorHidden" type="xs:string" minOccurs="0"/>
<xs:element name="canvasTechnicianHidden" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="tns:asset" minOccurs="0"/>
<xs:element name="cause" type="tns:cause" minOccurs="0"/>
<xs:element name="changeStartDatePeriodicalTask" type="xs:boolean" minOccurs="0"/>
<xs:element name="checkListFromPmTask" type="xs:boolean" minOccurs="0"/>
<xs:element name="closedDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="contact" type="tns:contactAsset" minOccurs="0"/>
<xs:element name="contractorActualCost" type="xs:float" minOccurs="0"/>
<xs:element name="contractorActualTime" type="xs:float" minOccurs="0"/>
<xs:element name="contractorForecastCost" type="xs:float" minOccurs="0"/>
<xs:element name="contractorForecastTime" type="xs:float" minOccurs="0"/>
<xs:element name="contractorMarkup" type="xs:float" minOccurs="0"/>
<xs:element name="createByWorkRequest" type="xs:boolean" minOccurs="0"/>
<xs:element name="creationDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="displayTabDiagnosis" type="xs:boolean" minOccurs="0"/>
<xs:element name="downTimeBreakdownEnd" type="tns:dateTime" minOccurs="0"/>
<xs:element name="downTimeBreakdownStart" type="tns:dateTime" minOccurs="0"/>
<xs:element name="downtime" type="xs:float" minOccurs="0"/>
<xs:element name="downtimeCost" type="xs:float" minOccurs="0"/>
<xs:element name="duplicatePeriodicalTask" type="xs:boolean" minOccurs="0"/>
<xs:element name="editByCalendar" type="xs:boolean" minOccurs="0"/>
<xs:element name="editByTechnicianCalendar" type="xs:boolean" minOccurs="0"/>
<xs:element name="effect" type="tns:effect" minOccurs="0"/>
<xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
<xs:element name="externalReference" type="xs:string" minOccurs="0"/>
<xs:element name="faultGroup" type="tns:faultGroup" minOccurs="0"/>
<xs:element name="formCalendar" type="xs:boolean" minOccurs="0"/>
<xs:element name="generateWorkOrderManually" type="xs:boolean" minOccurs="0"/>
<xs:element name="groupID" type="xs:int" minOccurs="0"/>
<xs:element name="individual" type="tns:individual" minOccurs="0"/>
<xs:element name="inspectionRequired" type="xs:boolean" minOccurs="0"/>
<xs:element name="instructions" type="xs:string" minOccurs="0"/>
<xs:element name="jobLotCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="jobLotCostDescription" type="xs:string" minOccurs="0"/>
<xs:element name="jobLotCosts" type="tns:jobLotCost" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="jobNo" type="xs:string" minOccurs="0"/>
<xs:element name="jobStatus" type="tns:jobStatusEnum" minOccurs="0"/>
<xs:element name="lastModified" type="tns:dateTime" minOccurs="0"/>
<xs:element name="limitDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="mandatoryEnd" type="xs:boolean" minOccurs="0"/>
<xs:element name="measured" type="tns:measured" minOccurs="0"/>
<xs:element name="modifiedDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="ncrRef" type="xs:string" minOccurs="0"/>
<xs:element name="partsActualCost" type="xs:float" minOccurs="0"/>
<xs:element name="partsForecastCost" type="xs:float" minOccurs="0"/>
<xs:element name="partsMarkup" type="xs:float" minOccurs="0"/>
<xs:element name="periodicalTaskId" type="xs:int" minOccurs="0"/>
<xs:element name="periodicalTaskIdForGlobalEdit" type="xs:int" minOccurs="0"/>
<xs:element name="pmTaskIdForGlobalEdit" type="xs:int" minOccurs="0"/>
<xs:element name="poNumber" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="tns:priority" minOccurs="0"/>
<xs:element name="quantityDaysLate" type="xs:int" minOccurs="0"/>
<xs:element name="quantitySentEmailWorkOrderIsLate" type="xs:int" minOccurs="0"/>
<xs:element name="readingValueMeter" type="xs:int" minOccurs="0"/>
<xs:element name="remedy" type="tns:remedy" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
<xs:element name="reportStatusComment" type="xs:string" minOccurs="0"/>
<xs:element name="requestedByWebService" type="xs:boolean" minOccurs="0"/>
<xs:element name="scheduledEnd" type="tns:dateTime" minOccurs="0"/>
<xs:element name="scheduledStart" type="tns:dateTime" minOccurs="0"/>
<xs:element name="sendEmailWorkOrderIsLate" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendWoByEmailToContractor" type="xs:boolean" minOccurs="0"/>
<xs:element name="signatureSupervisor" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="signatureSupervisorDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="signatureTechnician" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="signatureTechnicianDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="store" type="tns:asset" minOccurs="0"/>
<xs:element name="supervisorSignature" type="xs:string" minOccurs="0"/>
<xs:element name="technicianActualCost" type="xs:float" minOccurs="0"/>
<xs:element name="technicianActualTime" type="xs:float" minOccurs="0"/>
<xs:element name="technicianForecastCost" type="xs:float" minOccurs="0"/>
<xs:element name="technicianForecastTime" type="xs:float" minOccurs="0"/>
<xs:element name="technicianMarkup" type="xs:float" minOccurs="0"/>
<xs:element name="technicianSignature" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userClosedWo" type="tns:user" minOccurs="0"/>
<xs:element name="weeklyReportSentDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="woSentDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="woTaskType" type="tns:pmTaskType" minOccurs="0"/>
<xs:element name="workOrderDynamicFields" type="tns:workOrderDynamicField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workOrderEmails" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workOrderEngineers" type="tns:workOrderEngineer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workOrderID" type="xs:int" minOccurs="0"/>
<xs:element name="workOrderNumber" type="xs:int" minOccurs="0"/>
<xs:element name="workOrderStatus" type="tns:workOrderStatus" minOccurs="0"/>
<xs:element name="workOrderStockList" type="tns:workOrderStock" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workRequestType" type="tns:workRequestType" minOccurs="0"/>
<xs:element name="workType" type="tns:workType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answer">
<xs:sequence>
<xs:element name="answerID" type="xs:int" minOccurs="0"/>
<xs:element name="asset" type="tns:asset" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="condition" type="tns:condition" minOccurs="0"/>
<xs:element name="description" type="xs:byte" minOccurs="0"/>
<xs:element name="estimativeHours" type="xs:decimal" minOccurs="0"/>
<xs:element name="estimativeMen" type="xs:int" minOccurs="0"/>
<xs:element name="inspectionPhotoFilePosition" type="xs:int" minOccurs="0"/>
<xs:element name="lastChange" type="tns:dateTime" minOccurs="0"/>
<xs:element name="likelihood" type="xs:int" minOccurs="0"/>
<xs:element name="others" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="question" type="tns:question" minOccurs="0"/>
<xs:element name="righAnswer" type="xs:byte"/>
<xs:element name="severity" type="xs:int" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
<xs:element name="visitorID" type="xs:int" minOccurs="0"/>
<xs:element name="workOrder" type="tns:workOrder" minOccurs="0"/>
<xs:element name="workRequest" type="tns:workRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="condition">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="conditionID" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="question">
<xs:sequence>
<xs:element name="answer" type="tns:answer" minOccurs="0"/>
<xs:element name="arrParentAssetId" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assetFamilies" type="tns:assetFamily" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assetFamilyID" type="xs:int" minOccurs="0"/>
<xs:element name="assetFamilyIDs" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assetIDs" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assetLabel" type="xs:string" minOccurs="0"/>
<xs:element name="assets" type="tns:asset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="checked" type="xs:boolean"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="hasOthers" type="xs:boolean" minOccurs="0"/>
<xs:element name="others" type="xs:string" minOccurs="0"/>
<xs:element name="questionID" type="xs:int" minOccurs="0"/>
<xs:element name="questionType" type="xs:int"/>
<xs:element name="rightAnswer" type="xs:byte"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetFamily">
<xs:sequence>
<xs:element name="assetFamilyId" type="xs:int" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="icon" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:userSuper">
<xs:sequence>
<xs:element name="adminCustomer" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetCode" type="xs:string" minOccurs="0"/>
<xs:element name="barcode" type="tns:barcode" minOccurs="0"/>
<xs:element name="changePasswordInAdmin" type="xs:boolean" minOccurs="0"/>
<xs:element name="companyName" type="xs:string" minOccurs="0"/>
<xs:element name="confirmPassword" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="tns:currency" minOccurs="0"/>
<xs:element name="currentPassword" type="xs:string" minOccurs="0"/>
<xs:element name="dateExpire" type="tns:dateTime" minOccurs="0"/>
<xs:element name="dateLimitResetPassword" type="tns:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="firstLogin" type="xs:boolean"/>
<xs:element name="grantLogin" type="xs:boolean" minOccurs="0"/>
<xs:element name="grossPassword" type="xs:string" minOccurs="0"/>
<xs:element name="imageUrl" type="xs:string" minOccurs="0"/>
<xs:element name="listPermissions" type="tns:permission" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="locale" type="tns:locale" minOccurs="0"/>
<xs:element name="overwriteAssetPermission" type="xs:boolean" minOccurs="0"/>
<xs:element name="overwritePermission" type="xs:boolean" minOccurs="0"/>
<xs:element name="profile" type="tns:profile" minOccurs="0"/>
<xs:element name="userLogs" type="tns:userLog" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userSocialMedia" type="xs:boolean" minOccurs="0"/>
<xs:element name="workLoadSearchCalendar" type="tns:workLoadSearch" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="barcode">
<xs:sequence>
<xs:element name="barcode" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultStockInOut" type="xs:int" minOccurs="0"/>
<xs:element name="idBarcode" type="xs:int" minOccurs="0"/>
<xs:element name="idBarcodeType" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="currency">
<xs:sequence>
<xs:element name="codeIso" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="currencyId" type="xs:int" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="rate" type="xs:decimal" minOccurs="0"/>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="locale">
<xs:sequence>
<xs:element name="defaultLocale" type="xs:string" minOccurs="0"/>
<xs:element name="label" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLog">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="created" type="xs:boolean" minOccurs="0"/>
<xs:element name="date" type="tns:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="pmTaskNumber" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userLoginLogId" type="xs:int" minOccurs="0"/>
<xs:element name="workOrderNumber" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workLoadSearch">
<xs:sequence>
<xs:element name="html" type="xs:string" minOccurs="0"/>
<xs:element name="searchName" type="xs:string" minOccurs="0"/>
<xs:element name="searchSerializable" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="technicianName" type="xs:string" minOccurs="0"/>
<xs:element name="totalTechHourByTechnician" type="xs:decimal" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
<xs:element name="workLoadSearchConstants" type="tns:workLoadSearchConstants" minOccurs="0"/>
<xs:element name="workLoadSearchId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workRequest">
<xs:sequence>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="asset" type="tns:asset" minOccurs="0"/>
<xs:element name="assetScreenHotel" type="xs:boolean" minOccurs="0"/>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="creationDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="estimatedHours" type="xs:decimal" minOccurs="0"/>
<xs:element name="estimatedNumberMen" type="xs:int" minOccurs="0"/>
<xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
<xs:element name="generateWorkOrder" type="xs:boolean" minOccurs="0"/>
<xs:element name="likeliHood" type="xs:int" minOccurs="0"/>
<xs:element name="limitDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="tns:priority" minOccurs="0"/>
<xs:element name="severity" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
<xs:element name="workOrders" type="tns:workOrder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workRequestAttachments" type="tns:workRequestAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="workRequestID" type="xs:int" minOccurs="0"/>
<xs:element name="workRequestNumber" type="xs:int" minOccurs="0"/>
<xs:element name="workRequestStatus" type="tns:workRequestStatus" minOccurs="0"/>
<xs:element name="workRequestTitle" type="tns:workRequestTitle" minOccurs="0"/>
<xs:element name="workRequestType" type="tns:workRequestType" minOccurs="0"/>
<xs:element name="workType" type="tns:workType" minOccurs="0"/>
<xs:element name="tCardNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eventType">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="eventTypeID" type="xs:int" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="priority">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="minutes" type="xs:int" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="priorityID" type="xs:int" minOccurs="0"/>
<xs:element name="priorityLevel" type="xs:int" minOccurs="0"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workRequestAttachment">
<xs:sequence>
<xs:element name="fileAttachment" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="fileLocation" type="xs:string" minOccurs="0"/>
<xs:element name="workRequest" type="tns:workRequest" minOccurs="0"/>
<xs:element name="workRequestAttachmentId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workRequestStatus">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="workRequestStatusID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workRequestTitle">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="workRequestTitleId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workRequestType">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="workRequestTypeID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workType">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultPMTaskValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="defaultWOValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="defaultWRValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="workTypeID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cause">
<xs:sequence>
<xs:element name="causeID" type="xs:int" minOccurs="0"/>
<xs:element name="commentary" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contactAsset">
<xs:complexContent>
<xs:extension base="tns:contact">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="contact">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="contactId" type="xs:int" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mainContact" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="address3" type="xs:string" minOccurs="0"/>
<xs:element name="addressId" type="xs:int" minOccurs="0"/>
<xs:element name="eircode" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="effect">
<xs:sequence>
<xs:element name="commentary" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="effectID" type="xs:int" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faultGroup">
<xs:sequence>
<xs:element name="commentary" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="faultGroupID" type="xs:int" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobLotCost">
<xs:sequence>
<xs:element name="jobLotCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="jobLotCostDescription" type="xs:string" minOccurs="0"/>
<xs:element name="jobLotCostId" type="xs:int" minOccurs="0"/>
<xs:element name="qty" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="measured">
<xs:sequence>
<xs:element name="asset" type="tns:asset" minOccurs="0"/>
<xs:element name="dateReading" type="tns:dateTime" minOccurs="0"/>
<xs:element name="measuredId" type="xs:int" minOccurs="0"/>
<xs:element name="measuredReading" type="xs:int" minOccurs="0"/>
<xs:element name="pmTask" type="tns:pmTask" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTask">
<xs:sequence>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="assetMeter" type="tns:assetMeter" minOccurs="0"/>
<xs:element name="assetStopRequired" type="xs:boolean" minOccurs="0"/>
<xs:element name="checkList" type="xs:boolean" minOccurs="0"/>
<xs:element name="checkListQuestionIDs" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="checkListQuestions" type="tns:checkListQuestionPmTask" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="checkListStartDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="conditionMonitorings" type="tns:conditionMonitoring" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="conditionalMonitoringAssets" type="tns:asset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creationDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="editByCalendar" type="xs:boolean" minOccurs="0"/>
<xs:element name="editByTechnicianCalendar" type="xs:boolean" minOccurs="0"/>
<xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
<xs:element name="frequenceMeter" type="xs:int" minOccurs="0"/>
<xs:element name="instructions" type="xs:string" minOccurs="0"/>
<xs:element name="lastFrequenceMeter" type="xs:int" minOccurs="0"/>
<xs:element name="measured" type="xs:int" minOccurs="0"/>
<xs:element name="measureds" type="tns:measured" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="periodicalTasks" type="tns:periodicalTask" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskAttachments" type="tns:pmTaskAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskDynamicFields" type="tns:pmTaskDynamicField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskId" type="xs:int" minOccurs="0"/>
<xs:element name="pmTaskNumber" type="xs:int" minOccurs="0"/>
<xs:element name="pmTaskPermitList" type="tns:pmTaskPermit" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskStockList" type="tns:pmTaskStock" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskSupplierList" type="tns:pmTaskSupplier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskSupplierTechnicianList" type="tns:pmTaskSupplierTechnician" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskSupplierTechnicians" type="tns:pmTaskSupplierTechnician" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskTechnicianFamilyList" type="tns:pmTaskTechnicianFamily" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskTechnicians" type="tns:pmTaskTechnician" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pmTaskType" type="tns:pmTaskType" minOccurs="0"/>
<xs:element name="questionIDs" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="questions" type="tns:question" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendEmail" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendEmailWorkOrderIsLate" type="xs:boolean" minOccurs="0"/>
<xs:element name="thresholdDays" type="xs:int" minOccurs="0"/>
<xs:element name="thresholdMeter" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="triggerPeriod" type="tns:triggerPeriod" minOccurs="0"/>
<xs:element name="workType" type="tns:workType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetMeter">
<xs:sequence>
<xs:element name="assetMeterLogs" type="tns:assetMeterLog" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="meterConstants" type="tns:meterConstants" minOccurs="0"/>
<xs:element name="meterId" type="xs:int" minOccurs="0"/>
<xs:element name="readingDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="readingDateBefore" type="tns:dateTime" minOccurs="0"/>
<xs:element name="readingValue" type="xs:int" minOccurs="0"/>
<xs:element name="readingValueBefore" type="xs:int" minOccurs="0"/>
<xs:element name="resetMeter" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetMeterLog">
<xs:sequence>
<xs:element name="assetMeterLogId" type="xs:int" minOccurs="0"/>
<xs:element name="creationDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="newReadingValue" type="xs:int" minOccurs="0"/>
<xs:element name="oldReadingValue" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkListQuestionPmTask">
<xs:sequence>
<xs:element name="checkListQuestionPmTaskId" type="xs:int" minOccurs="0"/>
<xs:element name="orderCheckList" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conditionMonitoring">
<xs:sequence>
<xs:element name="conditionMonitoringId" type="xs:int" minOccurs="0"/>
<xs:element name="createWorkOrder" type="xs:boolean" minOccurs="0"/>
<xs:element name="creationDate" type="tns:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="measured" type="xs:int" minOccurs="0"/>
<xs:element name="pmTask" type="tns:pmTask" minOccurs="0"/>
<xs:element name="pointUnit" type="xs:string" minOccurs="0"/>
<xs:element name="sendEmail" type="xs:boolean" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="periodicalTask">
<xs:sequence>
<xs:element name="periodicalTaskId" type="xs:int" minOccurs="0"/>
<xs:element name="startDate" type="tns:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskAttachment">
<xs:sequence>
<xs:element name="fileAttachment" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="fileLocation" type="xs:string" minOccurs="0"/>
<xs:element name="pmTaskAttachmentId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskDynamicField">
<xs:sequence>
<xs:element name="dynamicFieldType" type="tns:dynamicFieldType" minOccurs="0"/>
<xs:element name="pmTaskDynamicFieldId" type="xs:int" minOccurs="0"/>
<xs:element name="valueField" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dynamicFieldType">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dynamicFieldTypeId" type="xs:int" minOccurs="0"/>
<xs:element name="permissionTabConstants" type="tns:permissionTabConstants" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskPermit">
<xs:sequence>
<xs:element name="pmTaskPermitId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskStock">
<xs:sequence>
<xs:element name="cost" type="xs:decimal" minOccurs="0"/>
<xs:element name="pmTaskStockId" type="xs:int" minOccurs="0"/>
<xs:element name="qty" type="xs:int" minOccurs="0"/>
<xs:element name="relateWithAsset" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskSupplier">
<xs:sequence>
<xs:element name="costHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="pmTaskSupplierId" type="xs:int" minOccurs="0"/>
<xs:element name="techHour" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskSupplierTechnician">
<xs:sequence>
<xs:element name="costHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="pmTaskSupplierTechnicianId" type="xs:int" minOccurs="0"/>
<xs:element name="techHour" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskTechnicianFamily">
<xs:sequence>
<xs:element name="costHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="famHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="pmTaskTechnicianFamilyId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskTechnician">
<xs:sequence>
<xs:element name="costHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="pmTaskTechnicianId" type="xs:int" minOccurs="0"/>
<xs:element name="techHour" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pmTaskType">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="pmTaskTypeId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triggerPeriod">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="triggerInterval" type="xs:int" minOccurs="0"/>
<xs:element name="triggerPeriodId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remedy">
<xs:sequence>
<xs:element name="commentary" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="remedyID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workOrderDynamicField">
<xs:sequence>
<xs:element name="dynamicFieldType" type="tns:dynamicFieldType" minOccurs="0"/>
<xs:element name="valueField" type="xs:string" minOccurs="0"/>
<xs:element name="workOrderDynamicFieldId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workOrderEngineer">
<xs:sequence>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="tns:dateTime" minOccurs="0"/>
<xs:element name="endTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="freeTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="startTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="workOrderEngineerId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localTime" final="extension restriction">
<xs:complexContent>
<xs:extension base="tns:baseLocal">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseLocal" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractPartial">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractPartial" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="workOrderStatus">
<xs:sequence>
<xs:element name="barcode" type="tns:barcode" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="workOrderStatusID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="workOrderStock">
<xs:sequence>
<xs:element name="cost" type="xs:decimal" minOccurs="0"/>
<xs:element name="qty" type="xs:int" minOccurs="0"/>
<xs:element name="relateWithAsset" type="xs:boolean" minOccurs="0"/>
<xs:element name="stock" type="tns:stock" minOccurs="0"/>
<xs:element name="totalCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="workOrderStockId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stock">
<xs:sequence>
<xs:element name="actualQty" type="xs:decimal" minOccurs="0"/>
<xs:element name="adjustmentCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="availableQty" type="xs:decimal" minOccurs="0"/>
<xs:element name="binLocation" type="tns:binLocation" minOccurs="0"/>
<xs:element name="maximumQty" type="xs:decimal" minOccurs="0"/>
<xs:element name="minimumQty" type="xs:decimal" minOccurs="0"/>
<xs:element name="revaluationAdjustment" type="xs:boolean" minOccurs="0"/>
<xs:element name="stockId" type="xs:int" minOccurs="0"/>
<xs:element name="superPart" type="tns:superPart" minOccurs="0"/>
<xs:element name="totalStockCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="totalStockCostRevaluation" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitCost" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="binLocation">
<xs:sequence>
<xs:element name="binLocationId" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="superPart">
<xs:sequence>
<xs:element name="archived" type="xs:boolean" minOccurs="0"/>
<xs:element name="barcode" type="tns:barcode" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="currency" type="tns:currency" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="drawingIndex" type="xs:string" minOccurs="0"/>
<xs:element name="managedByStock" type="xs:boolean" minOccurs="0"/>
<xs:element name="manufacturersReference" type="xs:string" minOccurs="0"/>
<xs:element name="partCriticality" type="tns:partCriticality" minOccurs="0"/>
<xs:element name="partDynamicFields" type="tns:partDynamicField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="partId" type="xs:int" minOccurs="0"/>
<xs:element name="partSubFamily" type="tns:partSubFamily" minOccurs="0"/>
<xs:element name="picture" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="techComments" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasure" type="tns:unitOfMeasure" minOccurs="0"/>
<xs:element name="unitOfStorage" type="tns:unitOfStorage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partCriticality">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="critLevel" type="xs:int" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="partCriticalityId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partDynamicField">
<xs:sequence>
<xs:element name="dynamicFieldType" type="tns:dynamicFieldType" minOccurs="0"/>
<xs:element name="part" type="tns:superPart" minOccurs="0"/>
<xs:element name="partDynamicFieldId" type="xs:int" minOccurs="0"/>
<xs:element name="valueField" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partSubFamily">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="partFamily" type="tns:partFamily" minOccurs="0"/>
<xs:element name="partFamilyDescription" type="xs:string" minOccurs="0"/>
<xs:element name="partFamilyId" type="xs:int" minOccurs="0"/>
<xs:element name="partSubFamilyId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partFamily">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="partFamilyId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unitOfMeasure">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasureId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unitOfStorage">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
<xs:element name="ratio" type="xs:int" minOccurs="0"/>
<xs:element name="unitOfMeasure" type="tns:unitOfMeasure" minOccurs="0"/>
<xs:element name="unitOfStorageId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetHotelLevel">
<xs:sequence>
<xs:element name="assetHotelLevelId" type="xs:int" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetLocation">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="assetLocationId" type="xs:int" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="telephone1" type="xs:string" minOccurs="0"/>
<xs:element name="telephone2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetManufacturer">
<xs:sequence>
<xs:element name="assetManufacturerId" type="xs:int" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetStatus">
<xs:sequence>
<xs:element name="assetStatusId" type="xs:int" minOccurs="0"/>
<xs:element name="bgColour" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fgColour" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplier">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="address3" type="xs:string" minOccurs="0"/>
<xs:element name="archived" type="xs:boolean"/>
<xs:element name="calibration" type="xs:boolean" minOccurs="0"/>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="contractor" type="xs:boolean" minOccurs="0"/>
<xs:element name="costHour" type="xs:decimal" minOccurs="0"/>
<xs:element name="customer" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="supplier" type="xs:boolean" minOccurs="0"/>
<xs:element name="supplierFamily" type="tns:supplierFamily" minOccurs="0"/>
<xs:element name="supplierId" type="xs:int" minOccurs="0"/>
<xs:element name="telephone1" type="xs:string" minOccurs="0"/>
<xs:element name="telephone2" type="xs:string" minOccurs="0"/>
<xs:element name="vatNo" type="xs:string" minOccurs="0"/>
<xs:element name="vendorNumber" type="xs:string" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierFamily">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="supplierFamilyId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assetType">
<xs:sequence>
<xs:element name="assetTypeId" type="xs:int" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="orderBy" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="costCentre">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="costCentreId" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrUpdateAssetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssetById">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssetByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:asset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="trainingCourseConstants">
<xs:restriction base="xs:string">
<xs:enumeration value="GENERAL"/>
<xs:enumeration value="PERIOD"/>
<xs:enumeration value="REVISION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="workLoadSearchConstants">
<xs:restriction base="xs:string">
<xs:enumeration value="WORK_ORDER"/>
<xs:enumeration value="WORK_ORDER_CALENDAR"/>
<xs:enumeration value="TECHNICIAN_CALENDAR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="jobStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACCEPTED"/>
<xs:enumeration value="REJECTED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="meterConstants">
<xs:restriction base="xs:string">
<xs:enumeration value="HOURS"/>
<xs:enumeration value="ITEMS"/>
<xs:enumeration value="LITRES"/>
<xs:enumeration value="KILOMETERS"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="permissionTabConstants">
<xs:restriction base="xs:string">
<xs:enumeration value="ASSET"/>
<xs:enumeration value="WORK_REQUEST"/>
<xs:enumeration value="WORK_ORDER"/>
<xs:enumeration value="PM_TASK"/>
<xs:enumeration value="ASSET_PART"/>
<xs:enumeration value="METER"/>
<xs:enumeration value="MEASURED"/>
<xs:enumeration value="INDIVIDUAL"/>
<xs:enumeration value="PARTS"/>
<xs:enumeration value="TECHNICIAN"/>
<xs:enumeration value="TECHNICIAN_FAMILY"/>
<xs:enumeration value="PERMIT"/>
<xs:enumeration value="STOCK_MOVEMENT"/>
<xs:enumeration value="SUPPLIER"/>
<xs:enumeration value="WAREHOUSE"/>
<xs:enumeration value="QUESTION"/>
<xs:enumeration value="REPORTS"/>
<xs:enumeration value="DYNAMIC_FIELD_TYPE"/>
<xs:enumeration value="CONTRACT"/>
<xs:enumeration value="DEPARTMENT"/>
<xs:enumeration value="TRAINING_COURSE"/>
<xs:enumeration value="ADJUSTMENT"/>
<xs:enumeration value="WORK_ORDER_CALENDAR"/>
<xs:enumeration value="TECHNICIAN_CALENDAR"/>
<xs:enumeration value="ACTIVITIES"/>
<xs:enumeration value="DASHBOARD"/>
<xs:enumeration value="OPERATIONS"/>
<xs:enumeration value="ROLE_OPERATIONS_TOOL"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>